/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 10px;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 10px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.4rem;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.centered-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.centered-image img {
  max-width: 540px;

  
}

footer {
  position: fixed;
  bottom:0;
  z-index: 100;
  width: calc(100vw - 48px);
  display: flex;
  padding: 24px;
  font-weight: 400;

}

.footer-content {
  margin: auto;
  font-size: 1.4rem;
}

a {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
}

h1 {
  text-align: center;
    font-size: 5vh;
    border: 10px solid;
    border-width: 10px 0;
    padding: 24px;
    background: white;
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: calc(100% - 48px);
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  width: 100%;
}

.header ul {
  display: flex;
  background: #FFFFFF;
  padding: 18px; /* top right bottom left */
}

.header li {
  display: flex;
  margin-left: 6px;
}

.header a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 6px 12px;
  background: #000;
}

.header-bar {
  display: block;
}

.logo a {
  background: none;
  padding: 0;
}

.header-bar .logo img {
  display: block;
  margin: none;
  width: 72px;
  height: 72px;
}

.header-bar {
  justify-content: flex-start;
}


.content-block {
  margin-top: 120px;
  padding: 24px;
}


.content-block h2 {
  font-size: 1.8rem;
  margin: 48px 0 24px 0;
}

.content-block p {
  font-size: 1.4rem;
  margin-bottom: 24px;
  margin-left: 24px;
}

.content-block ul {
  margin-left: 48px;
  list-style: disc;
}

.content-block h1 {
  border: none;
  text-align: left;
  padding: 0;
  margin: 0 0 48px 0;
  font-size: 3.6rem;
}

.content-block li {
  font-size: 1.4rem;
  margin-bottom: 12px;
  list-style: disc;

}

.page .header {
  background: #FFFFFF;
  justify-content: flex-start;
}